In [7]:
import subprocess
from pyspark.sql.types import IntegerType
from functools import reduce
from pyspark import SparkConf
from pyspark.sql import DataFrame,SparkSession
from pyspark.sql.functions import sum
conf = SparkConf().setMaster("yarn").setAppName("test")
spark=SparkSession.builder.config(conf=conf).getOrCreate()

p = subprocess.Popen("hdfs dfs -ls hdfs://localhost:9000/user/akash/trafficCount/aggre| awk '{print $8}' | awk 'NR!=1' ",
shell=True,
stdout=subprocess.PIPE,
stderr=subprocess.STDOUT)

In [8]:
def hdfs_file_read(file):
    rdd = spark.read.csv(file, header = True)
    # rdd=rdd.drop("axlespacings", "axleweights", "numberofaxles","validitycode","duration","temperature","weight","hour","minute","second","millisecond")
    return rdd

In [9]:
res = list()
for line in p.stdout.readlines():
    file = line.decode().strip()
    rt = hdfs_file_read(file)
    rt= rt.withColumn("VehicleCount", rt["VehicleCount"].cast(IntegerType()))
    rt.show()
    dff= rt.groupBy("class").sum("VehicleCount")
    dff.show()
    dff.printSchema()
    dff=dff.withColumnRenamed("sum(VehicleCount)", "TotalCount")
    res.append(dff)

union_df = reduce(DataFrame.unionAll, res)
union_df=union_df.groupBy("class").avg("TotalCount").sort('class')
union_df.show()

+------------+-----+----+-----+---+------------+
|       cosit|class|year|month|day|VehicleCount|
+------------+-----+----+-----+---+------------+
|000000001052|    3|2019|    4|  8|        1293|
|000000001252|    2|2019|    4|  8|       12777|
|000000001501|    2|2019|    4|  8|      111384|
|000000001502|    5|2019|    4|  8|        4890|
|000000001831|    2|2019|    4|  8|        3955|
|000000020019|    4|2019|    4|  8|         470|
|000000020033|    2|2019|    4|  8|        7773|
|000000020062|    6|2019|    4|  8|        1640|
|000000020074|    2|2019|    4|  8|       30962|
|000000020086|    4|2019|    4|  8|         137|
|000000020087|    6|2019|    4|  8|        2131|
|000000020153|    5|2019|    4|  8|         149|
|000000020523|    6|2019|    4|  8|         918|
|000000200720|    2|2019|    4|  8|       13735|
|000000020073|    3|2019|    4|  8|         977|
|000000200171|    4|2019|    4|  8|         297|
|000000020254|    6|2019|    4|  8|         120|
|000000001051|    3|2019|    4|  8|         769|
|000000020078|    7|2019|    4|  8|         188|
|000000020524|    4|2019|    4|  8|          50|
+------------+-----+----+-----+---+------------+
only showing top 20 rows

+-----+-----------------+
|class|sum(VehicleCount)|
+-----+-----------------+
|    7|            42261|
|    3|           902982|
|    0|              579|
|    5|           208059|
|    6|           374816|
|    1|            25420|
|    4|            58240|
|    2|          6239065|
+-----+-----------------+

root
 |-- class: string (nullable = true)
 |-- sum(VehicleCount): long (nullable = true)

+------------+-----+----+-----+---+------------+
|       cosit|class|year|month|day|VehicleCount|
+------------+-----+----+-----+---+------------+
|000000001045|    4|2019|    4|  9|         150|
|000000001070|    6|2019|    4|  9|        3961|
|000000001072|    5|2019|    4|  9|        3678|
|000000001311|    2|2019|    4|  9|       11027|
|000000001401|    2|2019|    4|  9|       65279|
|000000001500|    5|2019|    4|  9|        4303|
|000000020051|    6|2019|    4|  9|         562|
|000000020115|    4|2019|    4|  9|         166|
|000000020906|    2|2019|    4|  9|       12888|
|000000200721|    2|2019|    4|  9|       15512|
|000000200811|    2|2019|    4|  9|       32592|
|000000201082|    3|2019|    4|  9|        2075|
|000000020205|    7|2019|    4|  9|         175|
|000000020811|    4|2019|    4|  9|          19|
|000000001281|    5|2019|    4|  9|         353|
|000000020521|    5|2019|    4|  9|         174|
|000000001032|    5|2019|    4|  9|         330|
|000000001631|    5|2019|    4|  9|         104|
|000000020241|    7|2019|    4|  9|         107|
|000000001622|    5|2019|    4|  9|         132|
+------------+-----+----+-----+---+------------+
only showing top 20 rows

+-----+-----------------+
|class|sum(VehicleCount)|
+-----+-----------------+
|    7|            41001|
|    3|           924505|
|    0|              684|
|    5|           221907|
|    6|           393102|
|    1|            28403|
|    4|            61046|
|    2|          6366033|
+-----+-----------------+

root
 |-- class: string (nullable = true)
 |-- sum(VehicleCount): long (nullable = true)

+------------+-----+----+-----+---+------------+
|       cosit|class|year|month|day|VehicleCount|
+------------+-----+----+-----+---+------------+
|000000001312|    2|2019|    4| 10|       15016|
|000000020074|    5|2019|    4| 10|        1109|
|000000020521|    3|2019|    4| 10|         708|
|000000020811|    2|2019|    4| 10|        3935|
|000000208001|    5|2019|    4| 10|         388|
|000000001070|    4|2019|    4| 10|         368|
|000000001114|    5|2019|    4| 10|         889|
|000000001622|    3|2019|    4| 10|         597|
|000000001871|    1|2019|    4| 10|          15|
|000000020033|    5|2019|    4| 10|         208|
|000000001661|    6|2019|    4| 10|          43|
|000000020243|    1|2019|    4| 10|          32|
|000000001561|    4|2019|    4| 10|           8|
|000000020112|    1|2019|    4| 10|         156|
|000000020671|    6|2019|    4| 10|           5|
|000000200711|    1|2019|    4| 10|          16|
|000000020045|    0|2019|    4| 10|           1|
|000000001035|    3|2019|    4| 10|        2244|
|000000001043|    5|2019|    4| 10|         394|
|000000001044|    3|2019|    4| 10|        9428|
+------------+-----+----+-----+---+------------+
only showing top 20 rows

+-----+-----------------+
|class|sum(VehicleCount)|
+-----+-----------------+
|    7|            42678|
|    3|           941693|
|    0|              628|
|    5|           226595|
|    6|           385998|
|    1|            31934|
|    4|            58931|
|    2|          6556055|
+-----+-----------------+

root
 |-- class: string (nullable = true)
 |-- sum(VehicleCount): long (nullable = true)

+------------+-----+----+-----+---+------------+
|       cosit|class|year|month|day|VehicleCount|
+------------+-----+----+-----+---+------------+
|000000001251|    7|2019|    4| 11|          60|
|000000001552|    6|2019|    4| 11|         648|
|000000015002|    4|2019|    4| 11|         463|
|000000020065|    4|2019|    4| 11|         340|
|000000020089|    7|2019|    4| 11|         134|
|000000200718|    6|2019|    4| 11|        1311|
|000000200718|    3|2019|    4| 11|        1558|
|000000001015|    4|2019|    4| 11|         854|
|000000001621|    6|2019|    4| 11|         311|
|000000001283|    4|2019|    4| 11|          48|
|000000202103|    4|2019|    4| 11|          93|
|000000001161|    3|2019|    4| 11|         275|
|000000020258|    7|2019|    4| 11|         244|
|000000001715|    4|2019|    4| 11|          37|
|000000001531|    1|2019|    4| 11|           5|
|000000020082|    7|2019|    4| 11|          55|
|000000001731|    4|2019|    4| 11|           8|
|000000001211|    0|2019|    4| 11|           1|
|000000001023|    6|2019|    4| 11|        1464|
|000000001171|    6|2019|    4| 11|         340|
+------------+-----+----+-----+---+------------+
only showing top 20 rows

+-----+-----------------+
|class|sum(VehicleCount)|
+-----+-----------------+
|    7|            43871|
|    3|           959993|
|    0|              711|
|    5|           229614|
|    6|           390836|
|    1|            32585|
|    4|            62923|
|    2|          6689231|
+-----+-----------------+

root
 |-- class: string (nullable = true)
 |-- sum(VehicleCount): long (nullable = true)

+------------+-----+----+-----+---+------------+
|       cosit|class|year|month|day|VehicleCount|
+------------+-----+----+-----+---+------------+
|000000001042|    6|2019|    4| 12|         281|
|000000001272|    6|2019|    4| 12|         572|
|000000001712|    5|2019|    4| 12|         410|
|000000020021|    1|2019|    4| 12|         461|
|000000020073|    2|2019|    4| 12|       14191|
|000000020204|    6|2019|    4| 12|         909|
|000000020254|    2|2019|    4| 12|       37530|
|000000200715|    5|2019|    4| 12|         398|
|000000202104|    6|2019|    4| 12|         372|
|000000020526|    3|2019|    4| 12|        1228|
|000000020621|    3|2019|    4| 12|         911|
|000000015002|    7|2019|    4| 12|         234|
|000000020089|    7|2019|    4| 12|         152|
|000000001015|    7|2019|    4| 12|         143|
|000000001283|    7|2019|    4| 12|         140|
|000000001524|    4|2019|    4| 12|          59|
|000000001694|    1|2019|    4| 12|           8|
|000000001036|    0|2019|    4| 12|           1|
|000000001015|    4|2019|    4| 12|         878|
|000000003803|    6|2019|    4| 12|        1871|
+------------+-----+----+-----+---+------------+
only showing top 20 rows

+-----+-----------------+
|class|sum(VehicleCount)|
+-----+-----------------+
|    7|            47303|
|    3|           976491|
|    0|              642|
|    5|           220713|
|    6|           378075|
|    1|            33758|
|    4|            64475|
|    2|          7094303|
+-----+-----------------+

root
 |-- class: string (nullable = true)
 |-- sum(VehicleCount): long (nullable = true)

+------------+-----+----+-----+---+------------+
|       cosit|class|year|month|day|VehicleCount|
+------------+-----+----+-----+---+------------+
|000000001092|    2|2019|    4| 13|       12065|
|000000001509|    6|2019|    4| 13|         975|
|000000020011|    5|2019|    4| 13|        1301|
|000000001223|    7|2019|    4| 13|         127|
|000000001561|    7|2019|    4| 13|          91|
|000000003801|    5|2019|    4| 13|         162|
|000000001581|    7|2019|    4| 13|          80|
|000000001721|    7|2019|    4| 13|          42|
|000000020022|    4|2019|    4| 13|          81|
|000000010113|    1|2019|    4| 13|          71|
|000000200714|    1|2019|    4| 13|          26|
|000000001121|    1|2019|    4| 13|          11|
|000000020203|    0|2019|    4| 13|           2|
|000000001065|    6|2019|    4| 13|         476|
|000000001069|    5|2019|    4| 13|         197|
|000000020024|    3|2019|    4| 13|         629|
|000000020044|    6|2019|    4| 13|         746|
|000000020081|    2|2019|    4| 13|        7509|
|000000200720|    5|2019|    4| 13|         260|
|000000020116|    4|2019|    4| 13|          61|
+------------+-----+----+-----+---+------------+
only showing top 20 rows

+-----+-----------------+
|class|sum(VehicleCount)|
+-----+-----------------+
|    7|            38268|
|    3|           582241|
|    0|              359|
|    5|            86879|
|    6|           135452|
|    1|            26907|
|    4|            52577|
|    2|          5908182|
+-----+-----------------+

root
 |-- class: string (nullable = true)
 |-- sum(VehicleCount): long (nullable = true)

+------------+-----+----+-----+---+------------+
|       cosit|class|year|month|day|VehicleCount|
+------------+-----+----+-----+---+------------+
|000000001112|    3|2019|    4| 14|         958|
|000000001161|    2|2019|    4| 14|        2288|
|000000001401|    6|2019|    4| 14|         402|
|000000001592|    3|2019|    4| 14|         147|
|000000020013|    4|2019|    4| 14|         432|
|000000020114|    6|2019|    4| 14|         170|
|000000020526|    2|2019|    4| 14|       10418|
|000000020621|    2|2019|    4| 14|        3464|
|000000200811|    3|2019|    4| 14|        3157|
|000000201081|    1|2019|    4| 14|         287|
|000000001014|    7|2019|    4| 14|         214|
|000000001044|    5|2019|    4| 14|         305|
|000000001321|    6|2019|    4| 14|          77|
|000000003181|    3|2019|    4| 14|         602|
|000000020812|    2|2019|    4| 14|        1973|
|000000020861|    3|2019|    4| 14|         300|
|000000200721|    6|2019|    4| 14|         270|
|000000001511|    3|2019|    4| 14|         219|
|000000001046|    1|2019|    4| 14|          52|
|000000001022|    7|2019|    4| 14|          44|
+------------+-----+----+-----+---+------------+
only showing top 20 rows

+-----+-----------------+
|class|sum(VehicleCount)|
+-----+-----------------+
|    7|            26225|
|    3|           410183|
|    0|              255|
|    5|            36314|
|    6|            70594|
|    1|            20941|
|    4|            45149|
|    2|          5346130|
+-----+-----------------+

root
 |-- class: string (nullable = true)
 |-- sum(VehicleCount): long (nullable = true)

+-----+------------------+
|class|   avg(TotalCount)|
+-----+------------------+
|    0| 551.1428571428571|
|    1|           28564.0|
|    2| 6314142.714285715|
|    3| 814012.5714285715|
|    4|57620.142857142855|
|    5|175725.85714285713|
|    6|304124.71428571426|
|    7| 40229.57142857143|
+-----+------------------+